black==21.12b0
flake8==4.0.1
IMDbPY==2021.4.18
loguru==0.5.3
mypy==0.931
pre-commit==2.16.0
prompt-toolkit==3.0.24
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-randomly==3.11.0
python-slugify==5.0.2
PyYAML==6.0
types-mock==4.0.8
types-PyYAML==6.0.3
types-setuptools==57.4.7
types-toml==0.10.3
wemake-python-styleguide==0.16.0