black==19.10b0
flake8==3.7.9
IMDbPY==6.8
loguru==0.4.1
mypy==0.770
prompt-toolkit==3.0.5
pytest==5.4.1
pytest-cov==2.8.1
pytest-mock==3.0.0
PyYAML==5.3.1
python-slugify==4.0.0
wemake-python-styleguide==0.14.0
pytest-black==0.3.8
pytest-randomly==3.2.1