bandit==1.7.4
black==22.3.0
flake8==4.0.1
IMDbPY==2021.4.18
loguru==0.6.0
mypy==0.950
pre-commit==2.18.1
prompt-toolkit==3.0.29
pytest==7.1.2
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-randomly==3.11.0
python-slugify==6.1.2
PyYAML==6.0
types-mock==4.0.13
types-PyYAML==6.0.7
types-setuptools==57.4.14
types-toml==0.10.6
wemake-python-styleguide==0.16.1